* {
    box-sizing: border-box;
}

body {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
}

header {
    background-color: #1a1a1a; /* Fondo oscuro para el encabezado */
    text-align: center;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    color: #00BFFF; /* Azul Klein */
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #333; /* Fondo oscuro para la barra de navegación */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline; /* Muestra los elementos en línea */
}

nav ul li a {
    color: #00BFFF; /* Azul Klein para los enlaces */
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block; /* Permite aplicar padding */
}

nav ul li a:hover {
    background-color: #00BFFF; /* Cambia el fondo al pasar el ratón */
    color: #fff; /* Texto blanco al pasar el ratón */
}

main {
    padding: 20px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #222; /* Fondo oscuro para formularios */
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

input[type=text], select {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #00BFFF; /* Azul Klein para botones */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

button:hover {
    background-color: #008CBA; /* Color más oscuro al pasar el ratón */
}

.sucessMessage {
   display: none; 
   background-color: #4CAF50; /* Verde para mensajes de éxito */
   color: white;
   text-align: center;
   padding: 10px;
   margin-bottom: 20px;
   border-radius: 5px;
}

#app {
   margin-top: 20px; 
   width: 100%;
   max-width: 600px; 
   display:flex; 
   flex-direction:column; 
   align-items:center; 
}

#app div {
   background-color:#444; 
   border-radius:8px; 
   margin-bottom:10px; 
   padding:10px; 
   width:100%; 
   text-align:center; 
}