<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
    
</head>
<body>
    <form action="" id="formLibros">
        <input type="text" id="name">
        <select name="" id="sign">
            <option value="">--</option>
            <option value="aries">Aries</option>
            <option value="tauro">Tauro</option>
            <option value="geminis">Geminis</option>
            <option value="cancer">Cáncer</option>
            <option value="leo">Leo</option>
            <option value="virgo">Virgo</option>
            <option value="libra">Libra</option>
            <option value="escorpio">Escorpio</option>
            <option value="sagitario">Sagitario</option>
            <option value="capricornio">Capricornio</option>
            <option value="acuario">Acuario</option>
            <option value="piscis">Piscis</option>
        </select>
        <button type="submit">Guardar libro</button>
    </form>

    <form action="" id="formLibrosE">
        <input type="text" id="nameE">
        <select name="" id="sign">
            <option value="">--</option>
            <option value="aries">Aries</option>
            <option value="tauro">Tauro</option>
            <option value="geminis">Geminis</option>
            <option value="cancer">Cáncer</option>
            <option value="leo">Leo</option>
            <option value="virgo">Virgo</option>
            <option value="libra">Libra</option>
            <option value="escorpio">Escorpio</option>
            <option value="sagitario">Sagitario</option>
            <option value="capricornio">Capricornio</option>
            <option value="acuario">Acuario</option>
            <option value="piscis">Piscis</option>
        </select>
        <button type="submit">Actualizar libro</button>
    </form>

    <div class="sucessMessage" id="sucessMessage"></div>

    <div class="sucessMessage" id="sucessMessage1"></div>

    <div id="app">

    </div>

    <script src="crud.js"></script>
</body>
</html>